<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div class="a">
    <div class="b">1<br>1<br>1</div>
    <div class="b">2<br>1<br>1</div>
    <div class="b">3<br>1<br>1</div>
</div>


<% if user_signed_in? %>
    ユーザーでログインしています
    <%=link_to "ユーザーログアウト",  destroy_user_session_path, method: :delete %>
<% end %>

<% if admin_signed_in? %>
    管理者でログインしています
    <%=link_to "管理者ログアウト",  destroy_admin_session_path, method: :delete %>
<% end %>

<%=link_to "user", new_user_registration_path %>
